@use "project-vars";
@use "fonts";

@use "~@spiral-toolkit/keeper/src/vars" with (
  $primary: project-vars.$am-primary,
  // $warning: project-vars.$clr-orange-light,
  $sf-primary: project-vars.$am-primary,
  $sf-sidebar: project-vars.$am-primary-dark,
  $sf-font-family-sans-serif: project-vars.$am-font-family-sans-serif,
);

@import "~@spiral-toolkit/keeper/src/keeper";
@import "~@spiral-toolkit/keeper/src/components";

.sf-sidebar__logo svg {
    width: 200px;
    fill: white;
}

.sf-user-short-info__name {
    color: project-vars.$am-primary;

    &:hover {
        color: project-vars.$am-primary-dark;
    }
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
