$am-primary: #18453b; // Primary button BG
$am-primary-text: #63b3a2; // Primary light text
$am-primary-text-light: #63b3a2; // Primary light text
$am-primary-text-dark: $am-primary;
$am-input-color: #757575; // Color of input text
$am-primary-light: #265c50; // Primary lighter
$am-primary-bright: #008208; // Badges
$am-font-family-sans-serif: Dosis, Helvetica, Arial, sans-serif;

// Brand colors from brand style guide
$clr-primary: #18453B;
$clr-green: #0d8148;
$clr-greenish: #008183;
$clr-grass-light: #d1de3f;
$clr-grass-dark: #94ae4a;
$clr-light: #97a2a2;
$clr-dark: #535054;
$clr-gray: #909ab7;
$clr-yellowish-dark: #c89a58;
$clr-yellowish-light: #e8d9b5;
$clr-orange-light: #f08521;
$clr-orange-dark: #CB5A28;
$clr-magenta: #6e005f;

