$am-primary: #3765a7; // Primary button BG
$am-primary-dark: #213d64; // Primary button BG
$am-text: #393939; // Primary light text
$am-font-family-sans-serif: Raleway, Helvetica, Arial, sans-serif;

